/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }


body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  color: white;
  background-color: black;
  background-image: url("../src/assets/empire-logo.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 75%;
}


a:visited {
    color: rgb(199, 98, 115);
  }