.confirmdiv
{
    position: absolute;
    width: 400px;
    left: 40%;
    background-color: #616161;
    color: white;
}
#submitButt
{
    position: relative;
    left: 150px;
    background-color: black;
    color: white;
    height: 30px;
}
.locateButt
{
    background-color: black;
    color: white;
    height: 40px;
}