body {
    background-color: #EEEEEE;
}
#tabs{
    position:absolute;
    width: 800px;
    left: 10%;
    background-color:#616161;
    color: white;
}

#quanBox{
    width: 50px;
}
.mat-table {
    flex: 0 0 100px !important;
    white-space: unset !important;
}
.make_red{
    background-color: rgba(255, 0, 0, 0.712);
}
.orderBox{
    /* top:10%; */
    left: 68%;
    height: 80%;
    width: 400px;
    background-color: #424242; 
    /* background-color: blue; */
    position: fixed;
    /* color: blanchedalmond; */
}