<app-order></app-order>
<mat-tab-group id = 'tabs'>

  <mat-tab label = 'Weapons' class="mat-elevation-z8">
    <mat-table #table [dataSource]="weaponSource" >
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make_red':row.restricted}"></mat-row>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classification}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.model}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef>Cost</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.cost}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
        <mat-cell *matCellDef = "let element">
                <input matInput matNativeControl #ref id='quanBox' type="number" min ='0' value="0" 
                (change)="addItem(element.itemId, ref.value)">
        </mat-cell>
      </ng-container>
    </mat-table>
  </mat-tab>

  <mat-tab label  = 'Vehicles' class="mat-elevation-z8">
    <mat-table #table [dataSource]="vehicleSource" >
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make_red':row.restricted}"></mat-row>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.classification}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.model}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="cost">
      <mat-header-cell *matHeaderCellDef>Cost</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.cost}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef = "let element">
        <input matInput matNativeControl #ref id='quanBox' type="number" min ='0' value="0" 
        (change)="addItem(element.itemId, ref.value)">
      </mat-cell>
    </ng-container>
  </mat-table>
  </mat-tab>
  
  <mat-tab label = 'Starships' class="mat-elevation-z8">
      <mat-table #table [dataSource]="starshipsSource" >
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make_red':row.restricted}"></mat-row>
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.classification}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="model">
          <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.model}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cost">
          <mat-header-cell *matHeaderCellDef>Cost</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.cost}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
          <mat-cell *matCellDef = "let element">
            <input matInput matNativeControl #ref id='quanBox' type="number" min ='0' value="0" 
            (change)="addItem(element.itemId, ref.value)">
          </mat-cell>
        </ng-container>
      </mat-table>
  </mat-tab>

  <mat-tab label = 'Supplies' class="mat-elevation-z8">
    <mat-table #table [dataSource]="suppliesSource" >
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make_red':row.restricted}"></mat-row>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.classification}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.model}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="cost">
      <mat-header-cell *matHeaderCellDef>Cost</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.cost}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef = "let element">
        <input matInput matNativeControl #ref id='quanBox' type="number" min ='0' value="0" 
        (change)="addItem(element.itemId, ref.value)">
      </mat-cell>
    </ng-container>
  </mat-table>
  </mat-tab>
</mat-tab-group>
