<div class='officerdiv'>
<h2>Current User info:</h2>
<!-- <ul>
  <li> -->
    <span>First name: {{user.firstName}} <br> Last name: {{user.lastName}} <br> Rank:{{user.rank}} 
    <br> Superiror Officer Id: {{user.superiorOfficerId}} <br> Location id: {{user.locationId}}
  </span> 
  <!-- </li>
</ul> -->
<br>
<div >
  <app-back-button></app-back-button>
<app-logout-button></app-logout-button>
</div>
</div>


 <!-- {{currentOfficer.firstName +": "+ currentOfficer.rank}} -->
    <!-- <a routerLink ="/detail/{{hero.id}}"> -->
    
    <!-- </a> -->
    <!-- <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button> -->

<!-- <div>
  <label>
    
    First Name: <input #heroName />
  </label>
    (click) passes input value to add() and then clears the input
    <button (click)="add(heroName.value); heroName.value=''">
        add
      </button>
</div> -->
