ul, li{
    color: white;
}
h2{
    color: rgb(221, 220, 220)
}
.officerdiv
{
    /* color: white; */
    position: absolute;
    /* left: 5%; */
    width: 350px;
    
    background-color: #6161619a; 
}