<span><h3 class='title'>Welcome officer: </h3> <h4>{{user.firstName}}</h4></span>
<div class="grid-container">
    <div class="grid-item">
      <a routerLink="/officers"> Profile</a>
    </div>
    <div class="grid-item">
      <a routerLink='/catalogue'>Catalogue</a>
    </div>
    <div class="grid-item">
      <a routerLink='/orderhistory'>Orders</a>
    </div>
    <div class="grid-item">
        <a routerLink="/inventories">Inventory</a>
    </div>
    <div style="display:none" id="high"class="grid-item">
      <a routerLink="/high-inventory">All Inventories</a>
  </div>
    
</div>

  <app-logout-button></app-logout-button>