<p>
  homepage works!
</p>
<div class="grid-container">
    <div class="grid-item">
      <a routerLink="/officers"> Profile</a>
    </div>
    <div class="grid-item">
      <a routerLink='/catalogue'>Catalogue</a>
    </div>
    <div class="grid-item">Order History</div>
    <div class="grid-item">
        <a routerLink="/inventories">Inventory</a>
    </div>
    <div class="grid-item">
      <a routerLink='/orders'>Orders</a>
    </div>

    <div class="grid-item">Inventory</div>
    <div class="grid-item">Troops</div>
    <div class="grid-item">Misc</div>
</div>