<!-- <div>
  <label>Id: </label>
    {{currentOrder.id }} 
</div>
<div>
    <label>User Id:</label>
  {{currentOrder.user }} 
</div>
<div>
    <label>Order Authorized: </label>
    {{currentOrder.isAuthorized }}  
</div> -->
<div class="heading">
  <h3 style="left:5%">Items: </h3>
</div>
<div class="itemList" *ngIf="getCost()">
    <ul>
        <li *ngFor="let item of currentOrder.itemsOrdered">
          <span>{{currentOrder.itemsMap.get(item.itemId)}} - {{item.model}} - {{item.cost}}</span> 
        </li>
      </ul>
</div>
<div>
    <label>Total: </label>
    {{[getCost()]}} 
</div>
<button style="background-color:cadetblue" (click) = "submitOrder()" >Submit</button>

